.gallery img{
    width: 100%;

}
#menu a{
    width: 100% ;
    height: 40px;
    background-color: aliceblue;
}
#menu {color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none ;
    font-weight: 800px;

    padding-left: 20px;
    padding-right: 20px;

}
#menu a:hover{
    color: #5077bd;
}
#menu {width:100%;
       height: 40px;
       background-color: cornflowerblue;
       padding-top: 12px;
}
